---
layout: default
---

<div id="about">  
  <p>Educoder is an information hub for developers of educational technology, with an eye to research. Its mission is to support community among EdTech developers. To participate, come chat on the <a href="http://groups.google.com/group/educoder/">mailing list</a> (below). We are also gather <a href="https://www.facebook.com/home.php?sk=group_226303434048976&amp;ap=1">on Facebook</a> and on <a href="https://plus.google.com/117799352776195277626/posts">on Google+</a>.</p>
</div>

<iframe id="forum_embed"
  src="javascript:void(0)"
  scrolling="no"
  frameborder="0"
  width="800"
  height="600">
</iframe>
<script type="text/javascript">
  document.getElementById('forum_embed').src =
     'https://groups.google.com/forum/embed/?place=forum/educoder'
     + '&showsearch=true&showpopout=true&showtabs=false'
     // + '&parenturl=' + encodeURIComponent(window.location.href);
</script>


<!-- <aside class="sidebar">
  {% if site.blog_index_asides.size %}
    {% include_array blog_index_asides %}
  {% else %}
    {% include_array default_asides %}
  {% endif %}
</aside> -->
